In [1]:
import numpy as np
import pandas as pd

file_path = 'datasets/nhanes_2015_2016.csv'

df = pd.read_csv(file_path)
df.head(3)

,SEQN,ALQ101,ALQ110,ALQ130,SMQ020,RIAGENDR,RIDAGEYR,RIDRETH1,DMDCITZN,DMDEDUC2,...,BPXSY2,BPXDI2,BMXWT,BMXHT,BMXBMI,BMXLEG,BMXARML,BMXARMC,BMXWAIST,HIQ210
0,83732,1.0,NaN,1.0,1,1,62,3,1.0,5.0,...,124.0,64.0,94.8,184.5,27.8,43.3,43.6,35.9,101.1,2.0
1,83733,1.0,NaN,6.0,1,1,53,3,2.0,3.0,...,140.0,88.0,90.4,171.4,30.8,38.0,40.0,33.2,107.9,NaN
2,83734,1.0,NaN,NaN,1,1,78,3,1.0,3.0,...,132.0,44.0,83.4,170.1,28.8,35.6,37.0,31.0,116.5,2.0

In [2]:
df.shape #saber el tamaño dela base de datos

(5735, 28)

In [3]:
df.loc[:, ['BMXHT']].max()

BMXHT    202.7
dtype: float64

In [4]:
df.loc[:, ['BMXHT']].min()

BMXHT    129.7
dtype: float64

In [7]:
df2 = df.DMDEDUC2
df2.head(10)

0    5.0
1    3.0
2    3.0
3    5.0
4    4.0
5    2.0
6    4.0
7    4.0
8    NaN
9    3.0
Name: DMDEDUC2, dtype: float64

In [8]:
df2 = df2.dropna()
df2.head(10)

0     5.0
1     3.0
2     3.0
3     5.0
4     4.0
5     2.0
6     4.0
7     4.0
9     3.0
10    5.0
Name: DMDEDUC2, dtype: float64

In [9]:
df2.sum()

18840.0

In [11]:
pd.notnull(df.DMDEDUC2).sum() #saber cuantas filas no estan vacias

5474